/* You can add global styles to this file, and also import other style files */
.container{
  width:600px;
  margin:0 auto;
}

.testResults td, .testResults th{
  border-left:1px solid #c6c6c6;
  border-top:1px solid #c6c6c6;
  text-align:center;
  padding:10px;
}

.testResults{
  border-right:1px solid #c6c6c6;
  border-bottom:1px solid #c6c6c6;
  width: 100%;
}

.circle{
  border-radius: 50px;
  height: 15px;
  width: 15px;
  display: block;
  margin: 0 auto;
}

.green{
  background:green;
}

.red{
  background:red;
}
